*.pth
*.npy
*.log
*.png
*.pkl
*.json
*.csv
*.txt
*.zip
*.h5
*.ckpt
events*
__pycache__
*/__pycache__
example_mani_skill_data
full_mani_skill_data
full_mani_skill_state_data
submission_example
work_dirs
test
.DS_Store
*/.DS_Store
